body {
	font-family: "Lato", Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;

  margin: 0;
}

h1, h2, h3, p, a, ul {
  margin: 0;
  padding: 0;
}

h1 {
	font-size: 25px;
	line-height: 4px;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 400;
	text-align: left;
	letter-spacing: -0.5px;
}

.logo-star {
	font-size: 25px;
	line-height: 7px;
	color: #f06c64;
	font-family: "Lato";
	font-weight: 400;
	text-align: left;
}

h2 {
	font-size: 30px;
	line-height: 17px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 900;
}

h3 {
	font-size: 18px;
	line-height: 18px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 900;
}

#support {
	letter-spacing: -0.5px;
}

.services__text p {
	padding-top: 27px;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 300;
}

.description {
	font-size: 12px;
	line-height: 22px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 400;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

.header-top {
	background-color: #2d303a;
	height: 89px;
	border-bottom: solid 6px #323746;
	padding-left: 40px;
	padding-right: 40px;
}

ul {
	margin: 0;
	list-style: none;
	display: flex;
  justify-content: space-between;
}

li:not(:first-child)::before {
	padding-left: 14px;
	padding-right: 14px;
	content: "·";
	color: #494e62;
}

a {
	font-size: 12px;
	line-height: 6px;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 500;
	text-decoration: none;
}

a:hover {
	color: #f06c64;
}

.left a:hover {
	pointer: cursor;
}

.slider-top {
	background-color: #f06c64;
	border-bottom: solid 6px #ea676b;
	height: 594px;
}

.left {
	padding-left: 42px;
}

.iphones {
	width: calc(100% - 16px*2);
	height: 594px;
	display: flex;
}

.vertical {
	position: relative;
	width: calc(40%);
}

.vertical-shadow {
	position: relative;
	top: 54px;
	left: 54px;
	z-index: 1;
}

.vertical-iphone-icon {
	position: relative;
	left: 52px;
	top: -433px;
	z-index: 2;
}

.vertical-hidden {
	position: relative;
	top: -830px;
	left: 67px;
	width: 189px;
	height: 334px;
	overflow: hidden;
	z-index: 3;
}

.horizontal {
	position: relative;
	width: calc(60%);
	top: 28px;
	left: -117px;
}

.horizontal-shadow {
	position: relative;
	top: 25px;
	left: 245px;
	z-index: 0;
	transform: rotate3d(1, 1, 0, 180deg);
}

.horizontal-iphone-icon {
	transform: rotateZ(90deg);
	position: ralative;
	left: 50px;
	top: px;
	z-index: 1;
}

.horizontal-hidden {
	width: 334px;
	height: 189px;
	overflow: hidden;
	z-index: 2;
	position: relative;
	top: -326px;
	left: 182px;
}

.horizontal-hidden-picture {
	position: relative;
	top: -121px;
	left: -124px;
}

.right {
	transform: scale(-1,1);
	padding-left: 42px;
}

.services {
	background-color: #f2f2f2;
	height: 494px;
	border-bottom: solid 6px #ffffff;
}

.key-description {
	overflow: hidden;
	padding-left: 19px;
}

/* FLEX */

.header-top {
	display: flex;
  justify-content: space-between;
}

.logo {
	display: flex;
}

.logo, .navigation {
	align-self: center;
}

.navigation {
	padding-left: 448px;
	padding-top: 9px;
}

.slider-top {
	display: flex;
	align-items: center;
	width: 1020px;
}

.services__text {
	padding: 69px 40px 46px 40px;
}

.layout-3-column {
	width: calc(100% - 40px*2);
	padding-left: 40px;
	padding-right: 40px;
  display: flex;
  align-self: space-between;
}

.column {
	width: 313px;
}

.column-2 {
	padding-left: 19px;
	padding-right: 20px;
}

.services__keys {
  display: flex;
  height: 100px;
  padding-bottom: 23px;
}

.description {
	padding-top: 11px; 
}


@font-face {
    font-family: 'Lato';
    src: url('./assets/font/Lato-Light.woff') format("woff");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/font/Lato-Regular.woff') format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/font/Lato-Bold.woff') format("woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
     src: url('./assets/font/Lato-Black.woff') format("woff");
    font-style: normal;
    font-weight: 900;
}